

.App {
  font-family: sans-serif;
  text-align: center;

  min-height: 100vh;
  height: 100%;
}

div{
  background: white;
}

.pAll{
  padding-top: 25px;
}

.redBtn{
  background-color: brown;
  color: white;
  font-weight: bolder;
}


.greenBtn{
  background-color: rgb(70, 118, 4);
  color: white;
  font-weight: bolder;
}