

.App {
  font-family: sans-serif;
  text-align: center;

  min-height: 100vh;
  height: 100%;
}

div{
  background: white;
}

.pAll{
  padding-top: 25px;
}

button{
  fill: #F88AC5;
stroke-width: 4px;
stroke: #FF088D;
}